* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* start here */

header {
  background-color: red;
  padding: 1rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

h3 {
  color: #fff;
  font-size: 2rem;
}

nav {
  flex-basis: 30%;

  display: flex;
  gap: 2rem;
}

nav a {
  margin: 2rem;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  color: black;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;

  /* 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; 
    */
  flex: 1 1 0%;
}

input {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background: none;
  outline: none;
  background-color: rgb(227, 166, 166);
}

@media screen and (max-width: 800px) {
  header {
    flex-wrap: wrap;
  }

  nav {
    order: 1;
    flex: 100%;
  }
}
/* end here */
