* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* gallery section css start */

.gallery-section {
  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.gallery img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

/* gallery section css end */
